body {
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: #f2f2f2;
}

header, footer {
    background-color: #0ff33d;
    color: white;
    text-align: center;
    padding: 15px;
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
}

form {
    display: flex;
    flex-direction: column;
    width: 300px;
    background-color: white;
    padding: 20px;
    border-radius: 8px;
}

label {
    margin-top: 10px;
}

input, button {
    margin-top: 5px;
    padding: 8px;
}

button {
    margin-top: 15px;
    cursor: pointer;
}

#resultado {
    margin-top: 20px;
    padding: 15px;
    width: 300px;
    text-align: center;
    font-weight: bold;
}

.bajo {
    background-color: #f1c40f;
}

.normal {
    background-color: #2ecc71;
    color: white;
}

.sobrepeso {
    background-color: #e67e22;
    color: white;
}

.obesidad {
    background-color: #e74c3c;
    color: white;
}
